@model List<TechSane.Web.Models.Domain.Product>

@if (Model != null && Model.Any())
{
    <div class="container text-center">
        <h1 class="text-dark" style="border-bottom: 2px groove red "><b>TechSane.WEB - Samsung</b></h1>
    </div>
    <div class="row">
        @foreach (var product in Model)
        {
            <article class="col-md-4">
                <div class="cards-1">
                    <div class="container">
                        <div class="card card-blog">
                            <div class="card-image">
                                <a>
                                    <img class="img" src="@product.ImageUrl">
                                    <div class="card-caption" style="color: black !important; font-family: 'Montserrat', sans-serif; "> @product.Title </div>
                                </a>
                                <div class="ripple-cont"></div>
                            </div>
                            <div class="table">

                                <p class="card-description"> @product.Desc</p>
                                <div class="text-end">

                                    <a class="btn btn-primary" asp-controller="Products" asp-action="Index" asp-route-urlHandle="@product.UrlHandle">See More!</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </article>
        }
    </div>
}
else
{
    <h1>NO DATA</h1>
}
