@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class=" container">
    <div class="row">

        <h1 class="text-danger text-center mb-5">!THIS PAGE IS UNDER CONSTRUCTION!</h1>
    </div>

    <div class="row d-flex justify-content-center">
        <img style="height:600px; width:600px;" class="img-fluid w-50" src="https://media.tenor.com/MRCIli40TYoAAAAi/under-construction90s-90s.gif" />
    </div>
</div>