@model TechSane.Web.Models.ViewModels.EditCategoryRequest
@{
}

<div class="container py-5">
    <form method="post">

        <div class="mb-3">
            <label class="form-label">Id</label>
            <input type="text" class="form-control" id="name" readonly asp-for="Id" />
        </div>

        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" id="name" asp-for="Name" />
        </div>

        <div class="mb-3">
            <label class="form-label">Display Name</label>
            <input type="text" class="form-control" id="displayName" asp-for="DisplayName" />
        </div>



        <div>
            <button type="submit" class="btn btn-dark">Update</button>
            <button type="submit" class="btn btn-danger" asp-controller="AdminCategories" asp-action="Delete">Remove</button>
        </div>
    </form>
</div>