body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-dark {
  background-color: #f49d1a !important;
}
.nav-link {
  font-weight: bold;
  color: crimson;
}

.row {
  --bs-gutter-x: 0;
}

.cart-item-thumb {
  display: block;
  width: 10rem;
}

.cart-item-thumb > img {
  display: block;
  width: 100%;
}

.product-card-title > a {
  color: #222;
}

.font-weight-semibold {
  font-weight: 600 !important;
}

.product-card-title {
  display: block;
  margin-bottom: 0.75rem;
  padding-bottom: 0.875rem;
  border-bottom: 1px dashed #e2e2e2;
  font-size: 1rem;
  font-weight: normal;
}

.text-muted {
  color: #888 !important;
}

.bg-secondary {
  background-color: #f7f7f7 !important;
}

.accordion .accordion-heading {
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: bold;
}
.font-weight-semibold {
  font-weight: 600 !important;
}
