@model Oyun.Web.Models.ViewModels.AddGamesRequest

<div class="container py-5">
    <form method="post">

        <div class="mb-3">
            <label class="form-label">Title</label>
            <input type="text" class="form-control" id="title" asp-for="Title" />
        </div>
        <div class="mb-3">
            <label class="form-label">Heading</label>
            <input type="text" class="form-control" id="heading" asp-for="Heading" />
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <input type="text" class="form-control" id="description" asp-for="Description" />
        </div>
        <div class="mb-3">
            <label class="form-label">Featured Image Url</label>
            <input type="text" class="form-control" id="featuredImageUrl" asp-for="FeaturedImageUrl" />
        </div>

        <div class="mb-3">
            <label class="form-label">Url Handle</label>
            <input type="text" class="form-control" id="urlHandle" asp-for="UrlHandle" />
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-dark w-100">Save</button>
        </div>

    </form>
</div>