body {
  margin: auto;
  width: 80%;
  background-color: White;
  font-family: "Montserrat", sans-serif;
}
.navbar a {
  text-decoration: none;
  color: black;
  padding: 5px;
}
.navbar a:hover {
  padding: 5px;
  background-color: #febe8c;
  color: white;
}
.orta {
  margin-top: 100px;
}
.table {
  margin: auto;
}
.table td {
  height: 100px;
}
.hakkimizda a {
  text-decoration: none;
  color: black;
}
.ekip a {
  text-decoration: none;
  color: black;
}
.sol1 {
  margin-top: 100px;
}
.sol2 {
  margin-top: 200px;
}
.img1:hover {
  margin-top: 70px;
  margin-left: 20px;
  width: 250px;
  opacity: 0.5;
}
.img2:hover {
  margin-top: 70px;
  margin-left: 20px;
  width: 250px;
  opacity: 0.5;
}
.img2 {
  margin-top: 70px;
  margin-left: 20px;
  width: 150px;
  transition: all ease-in-out 0.5s;
}
.aciklama {
  margin: auto;
  text-align: center;
}
