html {
    font-size: 14px;
}

* {
    font-family: 'Montserrat', sans-serif !important;
}

.card {
    background-color: #212529;
    color: white;
    transition: all ease 0.5s;
    /* border-radius: 10%; */
}

    .card .btn-dark {
        background-color: white;
        color: #212529;
        border: 1px solid #66B933;
    }

        .card .btn-dark:hover {
            background-color: #212529;
            color: white;
        }

    .card:hover {
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 15), 0px 10px 50px rgba(0, 0, 0, 15);
        transform: scale(1.05);
    }

navbar {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
